[package]
name = "kafka-delta-ingest"
version = "0.1.0"
authors = ["R. Tyler Croy <rtyler@scribd.com>", "Christian Williams <christianw@scribd.com>"]
edition = "2018"

[dependencies]
anyhow = "1"
async-trait = "0.1"
chrono = "0"
clap = { version = ">=3.0.0-beta.2,<4", features = ["color"] }
env_logger = "0"
futures = "0.3"
jmespatch = { version = "0.3", features = ["sync"] }
lazy_static = "1"
log = "0"
maplit = "1"
parquet-format = "~2.6.1"
rdkafka = "0.26"
rusoto_core = { version = "0.46" }
rusoto_credential = { version = "0.46" }
rusoto_s3 = { version = "0.46" }
rusoto_dynamodb = { version = "0.46" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"
tokio = { version = "1", features = ["full"] }
tokio-stream = { version = "0", features = ["fs"] }
tokio-util = "0.6.3"
uuid = { version = "0.8", features = ["serde", "v4"] }

arrow  = { git = "https://github.com/apache/arrow.git", rev = "9c1e5bd19347635ea9f373bcf93f2cea0231d50a" }
deltalake = { git = "https://github.com/delta-io/delta-rs.git", rev = "38e5821b3a06db43e59c1dcca18eae818e11dd44" }
parquet = { git = "https://github.com/apache/arrow.git", rev = "9c1e5bd19347635ea9f373bcf93f2cea0231d50a" }

[dev-dependencies]
utime = "0.3"
serial_test = "*"

